
.main{

width: 500px;
height: 153px;
left: 37px;
top: 381px;

background: #FFFFFF;
border: 1px solid #E9EBEE;
box-sizing: border-box;
border-radius: 3px;
}
.title{
    
width: 500px;
height: 31px;
left: 37px;
top: 381px;

background: #F5F6F7;
border: 1px solid #E9EBEE;
box-sizing: border-box;
border-radius: 3px;
}
.title p{

width: 118.93px;
height: 15.47px;
left: 48px;
top: 388px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #4B4F56;
}
.question{

width: 462.52px;
height: 66.14px;
left: 48px;
top: 420.91px;
display: flex;
padding-top: 18px;
}
.question .Avatar{
    border-radius: 20px;
}
.question p{
 
width: 372.64px;
height: 17.61px;
left: 96px;
top: 433px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #90949C;
}
.bar-footer{

width: 487.39px;
height: 37.33px;
left: 44px;
top: 494px;

background: #FFFFFF;
display: flex;
}
.bar-footer .component{

width: 110px;
height: 27.95px;
left: 48px;
top: 497px;

background: #F5F6F7;
border-radius: 20px;
display: flex;
}
.bar-footer .component img{

width: 19px;
height: 17px;
left: 61px;
top: 503px;
margin-top: 7px;
margin-right: 4px;
}
.bar-footer .component p{
   
width: 96.58px;
height: 12.81px;
left: 204.42px;
top: 504px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #4B4F56;

}