.main{
width: 500px;
height: 100px;
left: 33px;
top: 28px;

background: #FFFFFF;
border-radius: 8px;
}
.main .header{
top: 28px;
width: 500px;
height: 50px;
display: flex;

}
.header .post{
width: 80px;
height: 21px;
left: 43px;
top: 44px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
margin-top: 14px;
line-height: 14px;
color: #050505;
}
.header .listSet{
    display: flex;
    padding-left: 175px;
    
}
.header .listSet .filter{
 width: 92px;
height: 25px;
left: 274px;
top: 41px;
display: flex;
}
.header .listSet .filter p{
    width: 49px;
height: 18px;
left: 305px;
top: 44px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
/* identical to box height */


color: #050505;
}
.header .listSet .filter img{
 width: 15.98px;
height: 16px;
left: 283.47px;
top: 45px;
padding-top: 16px;
padding-right: 2px;
}
.header .listSet .managePost{
width: 145px;
height: 25px;
left: 376px;
top: 41px;
display: flex;
}
.header .listSet .managePost img{
width: 16.09px;
height: 16px;
left: 386.55px;
top: 45px;
padding-top: 16px;
padding-right: 2px;
}
.header .listSet .managePost p{
    width: 104px;
height: 18px;
left: 407px;
top: 44px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #050505;
}
.content{
display: flex;
width: 500px;
height: 50px;
padding-left: 48px;
padding-top: 16px;
}
.content .listDs{
width: 232px;
height: 50px;
left: 43px;
top: 78px;
display: flex;
}
.content .listDs img{
 width: 20px;
height: 20px;
left: 81px;
top: 94px;
padding-top: 16px;
}
.content .listDs p{
    width: 137px;
height: 18px;
left: 359px;
top: 94px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;
/* identical to box height */

text-align: center;

color: #65676B;
}
